.get-various-services1 {
  margin-block-start: 0;
  margin-block-end: 5.4px;
}
.for-your-pets1 {
  margin: 0;
}
.get-various-services-container1 {
  position: absolute;
  top: -148px;
  left: 281px;
  letter-spacing: 0.05em;
}
.frame-child1,
.vector-icon1 {
  position: absolute;
  height: 3.05%;
  width: 1.7%;
  top: 45.75%;
  right: 73.01%;
  bottom: 51.2%;
  left: 25.28%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.frame-child1 {
  height: 0.82%;
  width: 0.47%;
  top: 46.75%;
  right: 73.66%;
  bottom: 52.43%;
  left: 25.87%;
}
.frame-child2 {
  position: absolute;
  top: 514px;
  left: 638px;
  width: 1476px;
  height: 695px;
}
.unsplashbjaqpah6agq-icon1 {
  position: absolute;
  top: 822px;
  left: 1744px;
  width: 317px;
  height: 327px;
  object-fit: cover;
}
.taking-care-for1 {
  position: absolute;
  top: 816px;
  left: calc(50% - 1884.55px);
  letter-spacing: 0.05em;
  font-family: var(--font-playfair-display);
}
.unsplash5pvxkqt2s9k-icon1 {
  position: absolute;
  top: 602px;
  left: 1801px;
  width: 260px;
  height: 428px;
  object-fit: cover;
}
.unsplashmv9hjneuhr4-icon1,
.unsplashzchj-2ljp00-icon2 {
  position: absolute;
  top: 785px;
  left: 1424px;
  width: 273px;
  height: 364px;
  object-fit: cover;
}
.unsplashzchj-2ljp00-icon2 {
  top: 602px;
  width: 261px;
  height: 324px;
}
.group-icon10 {
  width: 64.8px;
  position: relative;
  height: 67.2px;
  object-fit: contain;
}
.local1 {
  color: var(--color-gold);
}
.glocal1 {
  position: relative;
}
.group-parent2 {
  width: 129px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.home1 {
  position: relative;
  font-weight: 600;
  color: var(--color-orange);
}
.home-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-21xl);
  font-size: var(--font-size-xl);
  color: var(--color-black);
}
.sign-in1 {
  position: relative;
  font-weight: 500;
}
.btn-register1,
.btn-signin1 {
  width: 146px;
  border-radius: var(--br-8xs);
  background-color: var(--color-darkslategray);
  height: 49px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-28xl-6);
  box-sizing: border-box;
}
.btn-register1 {
  background-color: var(--color-powderblue);
  padding: 0 var(--padding-23xl-6);
  color: var(--color-darkslategray);
}
.btn-signin-group,
.frame-parent1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-21xl);
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.frame-parent1 {
  position: absolute;
  top: 412px;
  left: calc(50% - 1286.15px);
  background-color: var(--color-white);
  align-items: center;
  justify-content: center;
  padding: var(--padding-xl) var(--padding-29xl);
  gap: var(--gap-83xl);
  font-size: var(--font-size-13xl);
  color: var(--color-orange);
}
.frame-child3,
.unsplashqb7d1xw28co-icon1 {
  position: absolute;
  top: 722px;
  left: 2108px;
  width: 505px;
  height: 674.1px;
  object-fit: contain;
}
.unsplashqb7d1xw28co-icon1 {
  top: 889px;
  left: 421px;
  width: 253px;
  height: 484px;
}
.unsplashzchj-2ljp00-icon3 {
  position: absolute;
  top: 816px;
  left: 177px;
  width: 371px;
  height: 557px;
  object-fit: cover;
}
.frame-child4,
.unsplasheoqnr8ikwfe-icon1 {
  position: absolute;
  top: 603px;
  left: 1560px;
  width: 369px;
  height: 546px;
  object-fit: cover;
}
.frame-child4 {
  top: 0;
  left: 1717px;
  width: 2222.1px;
  height: 2196.8px;
  object-fit: contain;
}
.frame-child5 {
  width: 38.9px;
  position: relative;
  height: 40.3px;
}
.frame-parent2,
.group-parent3,
.group-parent4,
.group-parent5,
.group-parent6 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-10xs);
}
.group-parent3 {
  width: 176px;
  border-radius: var(--br-xs);
  background-color: var(--color-darkslategray);
  height: 40px;
  color: var(--color-white);
}
.frame-parent2,
.group-parent4,
.group-parent5,
.group-parent6 {
  width: 143px;
}
.frame-parent2,
.group-parent5,
.group-parent6 {
  width: 160px;
}
.frame-parent2,
.group-parent6 {
  width: 159px;
}
.frame-parent2 {
  position: absolute;
  top: 979px;
  left: 0;
  width: 674px;
  gap: var(--gap-xs);
  font-size: var(--font-size-xl);
}
.scroll1 {
  position: relative;
  letter-spacing: -0.07em;
  transform: rotate(90deg);
}
.vector-icon2 {
  width: 16.8px;
  position: relative;
  height: 24px;
}
.scroll-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.frame-child9 {
  width: 0;
  position: relative;
  height: 13px;
  object-fit: contain;
}
.frame-parent3 {
  position: absolute;
  top: 1117px;
  left: 726px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  text-align: center;
  font-size: var(--font-size-3xs);
  font-family: var(--font-avenir-lt-std);
}
.food-icon,
.group-icon11 {
  position: absolute;
  max-height: 100%;
  object-fit: contain;
}
.food-icon {
  height: 2.82%;
  width: 2.06%;
  top: 57.86%;
  right: 77.63%;
  bottom: 39.33%;
  left: 20.31%;
  max-width: 100%;
  overflow: hidden;
}
.group-icon11 {
  height: 4.78%;
  top: 53.17%;
  bottom: 42.05%;
  left: calc(50% - 705.55px);
  width: 102.8px;
}
.group-icon12 {
  position: absolute;
  height: 3.91%;
  width: 2.1%;
  top: 57.31%;
  right: 53.06%;
  bottom: 38.78%;
  left: 44.83%;
  max-width: 100%;
  overflow: hidden;
}
.group-icon12,
.group-icon13,
.group-icon14 {
  max-height: 100%;
  object-fit: contain;
}
.group-icon13 {
  position: absolute;
  height: 3.99%;
  top: 25.26%;
  bottom: 70.74%;
  left: calc(50% - 883.55px);
  width: 85.9px;
}
.group-icon14 {
  height: 3.61%;
  width: 2.08%;
  top: 31.14%;
  right: 77.41%;
  bottom: 65.26%;
  left: 20.51%;
  max-width: 100%;
}
.frame3,
.group-icon14,
.group-icon15 {
  position: absolute;
  overflow: hidden;
}
.group-icon15 {
  height: 2.52%;
  width: 1.95%;
  top: 33.46%;
  right: 64.36%;
  bottom: 64.02%;
  left: 33.69%;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.frame3 {
  top: -412px;
  left: -674px;
  width: 3939.1px;
  height: 2196.8px;
  text-align: left;
  font-size: var(--font-size-77xl);
  font-family: var(--font-roboto);
}
.homepage2 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 900px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font-playfair-display);
}
